.cards
  .card
    .card-image
      %img{:alt => "", :src => "https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/10475079_580426142078327_1546510837_n.jpg"}/
    .card-header
      Double Trouble
    .card-header
      $10
    .card-copy
      %p Delicious sandwich with lots of cheese
  .card
    .card-image
      %img{:alt => "", :src => "https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11377792_1453027934996740_1751978393_n.jpg"}/
    .card-header
      Pizza
    .card-header
      $12
    .card-copy
      %p Cheese and Pepperoni Pizza is the Best
  .card
    .card-image
      %img{:alt => "", :src => "https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11357839_384987155028482_705096813_n.jpg"}/
    .card-header
      Taco
    .card-header
      $6
    .card-copy
      %p Fish taco on the beach
